<div class="container">
     <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 block">
      <div class="txt-description">
        <h6>Error 404</h6>
        <h4>ups</h4>
        <b>Lo sentimos…</b>
        <p>Esta jugada no salio como esperábamos.</p>
        <span><a href="/">llévame a la portada</a></span>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 ">
      <div class="content-gif">
        <img class="img-responsive" src="https://files.antena2.com.co/antena2/public/resources404/soccer.gif" alt="">
      </div>

      <div class="txt-description-mobile">
        <p>Esta jugada no salió como esperabamos.</p>
        <span><a href="/">llévame a la portada</a></span>
      </div>

    </div>
  </div>