<mat-toolbar color="primary">
    <button class="sidenav-toggle" aria-label="Toggle Sidebar" (click)="toggleSidenav()">
        <mat-icon class="menu-icon" [svgIcon]="'sort'"></mat-icon>
    </button>
    <span><img src="/assets/images/logo.png" height=26 ></span>
    <a mat-button routerLink="/"><span class="fa fa-home fa-lg"></span> vamos</a>
    <a *ngFor="let link of menu" mat-button [routerLink]="link.url" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> {{link.text}}</a>
    <!-- <a mat-button routerLink="/" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> vamos</a> -->
    <!-- <a mat-button routerLink="/" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> vamos</a> -->
    <!-- <a mat-button routerLink="/" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> vamos</a> -->
    <span class="flex-spacer"></span>
    <a mat-button ><i class="material-icons">play_circle_filled</i> Play</a>
    <a >El Player</a>
    <!-- <a  mat-button ><span class="fa fa-sign-out fa-lg"></span> Boton2</a> -->
  </mat-toolbar>
  
  


<div class="row">

  <video id="videoPlayer" class="video-js vjs-default-skin vjs-paragraph" poster="../../assets/images/radio.jpg"
  preload="none" 
    controls="controls" playsinline="playsinline">
    <source src="https://live.rcnmundo.com/rcnlaradio.mp3" type="audio/mp3" />
  </video>

</div>