$gray: #ccc;
$gray--light: #a8a8a8;
$gray--very-light: #dedede;
$gray--dark: #333;
$background-color: #fcf5ed;
$color--success: #78ba8c;


$lt-gray: #ddd;
$background-dark: #1f1f1f;
$background-light: #a23043;
$background-pale: rgb(233, 196, 213);;
$background-moredark: #6b0031;
