


<mat-card class="example-card">
  
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVFLIYa70k0XbnSXqm1LdSGR4u4oQCxeulUT2Rhh3cm9_T-Mx8" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          Harley Quinn first appeared in the DC Animated Universe's Batman: The Animated Series episode "Joker's Favor",[6] as what was originally supposed to be the animated equivalent of a walk-on role; a number of police officers
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Leer notas</button>
    </mat-card-actions>
  </mat-card>