
<div class="block-region block-region-content-3-1 block-region-content-3 row">
    <div class="col-md-4">
    <section class="block block-entity-block block-entity-blocknode clearfix coming come-in came">



  
<article data-history-node-id="127677" data-node-id="127677" role="article" about="/judicial/odebrecht-ofrece-indemnizar-colombia-con-106-mil-millones" class="node node-component node--type-article node--view-mode-teaser clearfix">
<div class="node-content clearfix">
<a href="/judicial/odebrecht-ofrece-indemnizar-colombia-con-106-mil-millones" rel="bookmark">

        <div class="field field-image field--name-field-image field--type-entity-reference field--label-hidden field--item"><div>


        <div class="field field-media-image field--name-field-media-image field--type-image field--label-hidden field--item">    <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="https://files.lafm.com.co/assets/public/styles/teaser_desktop_410x236/public/2018-11/odebrecht_afp_0.jpg?itok=gDRHMoRS 1x" media="all and (min-width: 992px)" type="image/jpeg" data-width="768" data-height="512" data-full="">
          <source srcset="https://files.lafm.com.co/assets/public/styles/teaser_mobile_346x220_/public/2018-11/odebrecht_afp_0.jpg?itok=DYCo5_54 1x" media="all and (max-width: 991px)" type="image/jpeg" data-width="768" data-height="512" data-full="">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Sede de Obrebrecht, en Brasil" typeof="foaf:Image" class="img-responsive">

</picture>

</div>
  
</div>
</div>
  
</a>
<div class="node-info">
  <div class="resource-type">
    <i class="lfmf lfmf-article"></i>
  </div>
  
        <div class="field field-section field--name-field-section field--type-entity-reference field--label-hidden field--item"><a href="/judicial" hreflang="es">Judicial</a></div>
  
</div>
<div class="node-text-content">
  <h2 class="node__title">
    <a href="/judicial/odebrecht-ofrece-indemnizar-colombia-con-106-mil-millones" rel="bookmark"><span>Odebrecht ofrece indemnizar a Colombia con $106 mil millones</span>
</a>
  </h2>
  <a href="/judicial/odebrecht-ofrece-indemnizar-colombia-con-106-mil-millones" rel="bookmark">
  
        <div class="field body field--name-body field--type-text-with-summary field--label-hidden field--item"><p>Esta oferta de Odebrecht también fue planteada a los delegados de la Procuraduría y la Contraloría.</p>
</div>
  
  </a>
</div>
<div class="more-info clearfix">
  <div class="node-changed"><i class="lfmf lfmf-clock"></i>Hace 3 horas</div>
  <div class="read-more">
    <a href="/judicial/odebrecht-ofrece-indemnizar-colombia-con-106-mil-millones" rel="bookmark">
      <span>Leer más</span>
      <i class="lfmf lfmf-arrow-right"></i>
    </a>
  </div>
</div>
</div>
</article>

</section>


    </div>
    <div class="col-md-4">
        <section class="block block-entity-block block-entity-blocknode clearfix coming come-in came">



  
<article data-history-node-id="127701" data-node-id="127701" role="article" about="/entretenimiento/ivan-duque-y-maluma-se-encontraron-para-promover-proyectos-por-la-ninez" class="node node-component node--type-article node--view-mode-teaser clearfix">
<div class="node-content clearfix">
<a href="/entretenimiento/ivan-duque-y-maluma-se-encontraron-para-promover-proyectos-por-la-ninez" rel="bookmark">

        <div class="field field-image field--name-field-image field--type-entity-reference field--label-hidden field--item"><div>


        <div class="field field-media-image field--name-field-media-image field--type-image field--label-hidden field--item">    <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="https://files.lafm.com.co/assets/public/styles/teaser_desktop_410x236/public/2018-11/whatsapp_image_2018-11-06_at_6.38.52_pm_0.jpeg?itok=6sTEvBaB 1x" media="all and (min-width: 992px)" type="image/jpeg" data-width="1280" data-height="871" data-full="">
          <source srcset="https://files.lafm.com.co/assets/public/styles/teaser_mobile_346x220_/public/2018-11/whatsapp_image_2018-11-06_at_6.38.52_pm_0.jpeg?itok=Aul8JL0Q 1x" media="all and (max-width: 991px)" type="image/jpeg" data-width="1280" data-height="871" data-full="">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Maluma, llegó hasta la Casa de Nariño para hablar con el Presidente sobre su fundación ‘El arte de los sueños’. " typeof="foaf:Image" class="img-responsive">

</picture>

</div>
  
</div>
</div>
  
</a>
<div class="node-info">
  <div class="resource-type">
    <i class="lfmf lfmf-article"></i>
  </div>
  
        <div class="field field-section field--name-field-section field--type-entity-reference field--label-hidden field--item"><a href="/entretenimiento" hreflang="es">Entretenimiento</a></div>
  
</div>
<div class="node-text-content">
  <h2 class="node__title">
    <a href="/entretenimiento/ivan-duque-y-maluma-se-encontraron-para-promover-proyectos-por-la-ninez" rel="bookmark"><span>Iván Duque y Maluma se encontraron para promover proyectos por la niñez</span>
</a>
  </h2>
  <a href="/entretenimiento/ivan-duque-y-maluma-se-encontraron-para-promover-proyectos-por-la-ninez" rel="bookmark">
  
        <div class="field body field--name-body field--type-text-with-summary field--label-hidden field--item"><p>El cantante colombiano Maluma se sumó, como otras celebridades, a los encuentros con el presidente de la República.</p>
</div>
  
  </a>
</div>
<div class="more-info clearfix">
  <div class="node-changed"><i class="lfmf lfmf-clock"></i>Hace 4 horas</div>
  <div class="read-more">
    <a href="/entretenimiento/ivan-duque-y-maluma-se-encontraron-para-promover-proyectos-por-la-ninez" rel="bookmark">
      <span>Leer más</span>
      <i class="lfmf lfmf-arrow-right"></i>
    </a>
  </div>
</div>
</div>
</article>

</section>


    </div>
    <div class="col-md-4">
        <section class="block block-entity-block block-entity-blocknode clearfix coming come-in came">



  
<article data-history-node-id="127700" data-node-id="127700" role="article" about="/medio-ambiente/la-capa-de-ozono-se-esta-recuperando" class="node node-component node--type-article node--view-mode-teaser clearfix">
<div class="node-content clearfix">
<a href="/medio-ambiente/la-capa-de-ozono-se-esta-recuperando" rel="bookmark">

        <div class="field field-image field--name-field-image field--type-entity-reference field--label-hidden field--item"><div>


        <div class="field field-media-image field--name-field-media-image field--type-image field--label-hidden field--item">    <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="https://files.lafm.com.co/assets/public/styles/teaser_desktop_410x236/public/2018-11/tierra_la_fm_.jpg?itok=iisD25V7 1x" media="all and (min-width: 992px)" type="image/jpeg" data-width="1440" data-height="980" data-full="">
          <source srcset="https://files.lafm.com.co/assets/public/styles/teaser_mobile_346x220_/public/2018-11/tierra_la_fm_.jpg?itok=rOwXSMLB 1x" media="all and (max-width: 991px)" type="image/jpeg" data-width="1440" data-height="980" data-full="">
        <!--[if IE 9]></video><![endif]-->
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Capa de ozono " title="Capa de ozono " typeof="foaf:Image" class="img-responsive">

</picture>

</div>
  
</div>
</div>
  
</a>
<div class="node-info">
  <div class="resource-type">
    <i class="lfmf lfmf-article"></i>
  </div>
  
        <div class="field field-section field--name-field-section field--type-entity-reference field--label-hidden field--item"><a href="/medio-ambiente" hreflang="es">Medio ambiente</a></div>
  
</div>
<div class="node-text-content">
  <h2 class="node__title">
    <a href="/medio-ambiente/la-capa-de-ozono-se-esta-recuperando" rel="bookmark"><span>La capa de ozono se está recuperando</span>
</a>
  </h2>
  <a href="/medio-ambiente/la-capa-de-ozono-se-esta-recuperando" rel="bookmark">
  
        <div class="field body field--name-body field--type-text-with-summary field--label-hidden field--item"><p>Así lo muestra un estudio de la ONU titulado ‘Evaluación científica del agotamiento del ozono: 2018’.</p>
</div>
  
  </a>
</div>
<div class="more-info clearfix">
  <div class="node-changed"><i class="lfmf lfmf-clock"></i>Hace 1 hora</div>
  <div class="read-more">
    <a href="/medio-ambiente/la-capa-de-ozono-se-esta-recuperando" rel="bookmark">
      <span>Leer más</span>
      <i class="lfmf lfmf-arrow-right"></i>
    </a>
  </div>
</div>
</div>
</article>

</section>


    </div>
</div>